.App {
  text-align: center;
}
body{
  font-family: 'Work Sans', sans-serif !important;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(#493ed8 0%, #562b95 100%);

  min-height: 60vh;

z-index: 1;
border-radius:0 0 30% 80% /120% 45% 160%;
transform:scaleX(1);

  font-size: calc(10px + 2vmin);
  color: white;
}
@media only screen and (max-width:540px){
  .App-header{

margin-bottom: 4rem;
border-radius: 0;
  }
}
@media only screen and (max-width:360px){
  .App-header{
width: max-content;

  }
}
@media only screen and (max-width:460px){
  .art-work, .App-header{
  
  width: 500px !important;

  }
}
.NavBar{
  margin-left: auto;
}
.CTA{
  padding: 10px 33px 10px 33px !important;
  margin-right: 43px;
max-width:200px;
text-align: center;
  border: 0.7px solid white;
  border-radius: 30px;
  font-size: 12px;
  font-weight:lighter !important;
}
/*Art work css*/
.art-work{
  border-radius: 25px;
  background: linear-gradient(#493ed8 0%, #562b95 100%);
  height:auto ;
  width: 1160px;
margin-bottom: 18px;
transform: translateY(-20%);
}
@media only screen and (max-width: 360px) {
  .art-work {
    width: min-content !important;
    font-size: 12px;
  }
}
@media only screen and (max-width: 980px) {
  .art-work {
    width: auto;
    font-size: 12px;
  }
}
.artwork-sec-1{
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 2px;
font-weight: lighter;
  font-size: 32px;
}

@media only screen and (min-width: 540.6666px) {
  .artwork-sec-1{
margin: 0;

  }
}



input::placeholder{
  color: #fff !important;

}
input{
  width: 210px !important;
  color: #fff !important;
  font-family: sans-serif;
  font-weight: 600;
  font-size:22px;
}
/*Payment css*/
.pricing {
background: transparent;
margin: 1rem 0 3rem 0;

}
.discount {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  background: red;
  padding: 10px;

  text-align: center;
  border-radius: 14px 14px 0 0;
}
@media only screen and (max-width: 760px){
  section.pricing{

  }
}
@media only screen and (max-width: 530px){
  .pricing{
margin-left: 10px;
  }
}

.price-btn-one{
  font-size: 14px;
  border-radius: 5rem;
 border: 1px solid #fff;
  
  color: #fff;
  padding: 5px 20px 5px 20px;
  margin: 0 auto;
  transition: all 0.2s;
  transform: translateY(400%) !important;
  text-decoration: none;
}
.price-btn-two{
  font-size: 14px;
  border-radius: 5rem;
 border:none;
  background: linear-gradient(#493ed8 0%, #562b95 100%);
  color: #fff;
  padding: 8px 20px 8px 20px;
  margin: 0 auto;
font-size: 14px;
font-weight:700;
font-family: sans-serif;
  transition: all 0.2s;
  transform: translateY(390%) !important;
  text-decoration: none;
}
.price-btn-three{
  font-size: 14px;
  border-radius: 5rem;
 border:none;
 outline: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 5px 20px 5px 20px;
  margin: 0 auto;
  transition: all 0.2s;
  transform: translateY(490%) !important;
  text-decoration: none;
}
.pricing .card-one {
  border: 1px solid rebeccapurple;
  border-radius: 4% !important;
  color: #fff;
 margin: 0 auto;
  height: 520px;
  zoom: 101%;
width: 350px;
  padding-bottom: 22px;
  background: linear-gradient(#493ed8 0%, #562b95 100%);
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.pricing .card-two{
  background: #552b951c;
  height: 530px;
  margin: 0 auto;
  padding-bottom: 22px;
  border-radius: 4% !important;
  color: #562b95;
width: 350px;

}

.pricing .card-three{
  background: #562b95;
  height: 530px;
  padding-bottom: 22px;
  border-radius: 4% !important;
  color: #fff;
width: 350px;
margin: 0 auto;
}
.pricing .card-body-one{
  padding: 20px;
  
}

.price-plan{
 display: flex;
 justify-content: space-between;

}

 .card-title {
font-family: sans-serif;
font-weight: 700;
font-size: 23px;

}

.price {
  font-size: 3rem;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
  font-size: 15px;
}
.fa-ul{
  margin-left: 16px;
  
}
.pricing .Card-text {
  font-weight:700;
  font-size: 28px;
  margin-top: 33px;
  margin-bottom: 33px;
}


/**/
/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {

    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
@media only screen and (max-width: 460px) {
  .pricing {
   margin-left:4rem ;

  }
}

/*Middle section css*/
.para{
  color:#562b95 ;
}
.para .middle-head{
  font-weight: 900 ;
  font-size: 24px ;
  font-family: 'Work sans';
}
.paragraph{
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1.4px;
  font-family: sans-serif;
}
.middle-sec{
  background-color:#552b951c ;
  margin-bottom: 6rem;

}
.buttons{
  display: flex;
justify-content: center;

}


@media only screen and (max-width: 500px){
  .buttons{
    flex-direction: column;
  }
  .middle-sec{
margin: 0 auto;
  }
}

@media (max-width: 300px){
  .middle-sec{
    margin: 0 auto !important;
    width: 550px;
  }
}

@media (max-width: 470px){
  .middle-sec{
    margin: 0 auto !important;
    width: 550px;
  }
}
.middle-btn-1{
  border-radius: 25px;
  border: none;
  color: #fff;
  margin: 29px;
  font-size: 14px;
  padding: 10px 18px 10px 18px;
  background:  linear-gradient(#493ed8 0%, #562b95 100%);
}
.middle-btn-2{
  border-radius: 25px;
 border: 0px;
 outline: 2px solid  #22044e;
  color: #562b95;
margin: 29px;
  padding: 10px 18px 10px 18px;
  margin-left: 17px;
  font-size: 14px;
  background: transparent;

}
.middle-btn-2:hover{
  background: #22044ee5;
  color: #fff;
  border: none;
  outline:  none;
}
@media (max-width:1006px) {
  .middle-sec {
display: flex;
flex-wrap: wrap;
margin-bottom: 22px !important;
font-size: 2px !important;

  }
  .middle-btn-1{
    margin-bottom: 32px;
  }
.paragraph{
  font-size: 13px;
}
}
/*Faq css*/

.faq-heading{
  font-size: 2.33rem;
  margin-top: 33px;
  font-weight:900;
  color: #562b95;

}
.accordion-item{

  margin-bottom: 27px;

}
.wrapper .accordion-button {
  font-size: 0.9rem;
  font-weight: 500;
}

.wrapper .accordion-button:hover {
  background-color: #f8f8f8
}

.wrapper .accordion-button:focus {
  box-shadow: none;
}

.wrapper .accordion-button::after {
  background-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
  background-position: center center;
  border-radius: 50%;
}

.wrapper .accordion-button:not(.collapsed) {
  color: #22044e !important;
  background-color: #f7f7f7;
  font-weight: 600;
  border-bottom: 1px solid #ddd !important;
}

.accordion-button:not(.collapsed)::after {
  border-color: #22044e;
}

.wrapper .accordion-button.collapsed {
  border-bottom: 1px solid #ddd !important;
}

.wrapper .accordion-collapse.show {
  border-bottom: 1px solid #ddd !important;
}

.wrapper .accordion-collapse {
  background-color: #b3b3b315;
}

.wrapper .accordion-collapse ul li {
  line-height: 2rem;
  width: 100%;
 
  padding: 0.5rem 1.3rem;
}

.wrapper .accordion-collapse ul li:hover {
  background-color: #b3b3b315;
}

.wrapper .accordion-collapse ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.85rem;
  font-weight: 400;
  display: block;
}

.wrapper .accordion-collapse ul li:hover a {
  color: #222;
}

@media only screen and (max-width: 470px){
  .faq-section{
width: max-content ;
  }
}
.footer{
  background: linear-gradient(#493ed8 0%, #562b95 100%);
  border-radius:30% 80% 0 0 /0 45% 160%;
  padding: 33px;
transform:scaleX(1);
}

@media only screen and (max-width: 470px){
  .footer{
width: max-content ;
  }
}